<div class="container" style="background:#a3e2e7;margin-left:5px;">
    <ul class="list-unstyled">
        <li>
            Personal
            <ul>
                <li>Mobile</li>
                <li>Home</li>
            </ul>

        </li>
        <input type="hidden" class="clsIsOpen" id="hdnIsopen" value="0" />
        <li>
            <div class="minimize">
                Employment
            </div>
            <input type="hidden" class="clsIsOpen" id="hdnIsopen" value="0" />
            <ul class="isMin">
                <div class="minimize">
                    Employment1(current)
                    <ul class="isMIn">
                        <h6>Business Phone</h6>
                        <h6>Main Phone</h6>
                        <h6>Attn.</h6>
                        <h6>Position</h6>
                    </ul>





        </li>
        <li>
            Employment2(previous)
            <ul class="isMin">
                <h6>Business Phone</h6>
                <h6>Main Phone</h6>
                <h6>Attn.</h6>
                <h6>Position</h6>
            </ul>




        </li>
    </ul>
        </div>

    </ul>
</div>
